.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightgray;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  display: block;
  font-weight: bold;
  color: #666666;
}

.main select,
.main input {
  font-size: 1.125rem;
  padding: 5px;
  border-radius: 5px;
  width: 160px;
}

.main input {
  border: 1px solid black;
}

.main hr {
  width: 95%;
}

.expandable-toggle {
  text-align: center;
  font-weight: bold;
  font-size: 0.75rem;
}

.vert-flex-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.price-break-row {
  display: flex;
  justify-content: space-between;
}
