<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PLACEHOLDER | Order {{id}} is ready for processing</title>
  </head>
  <body>
    <p>==PLACEHOLDER FOR 32BJ SHIPPING EMAIL==</p>
  </body>
</html>