.main {
  max-width: 1200px;
  height: 700px;
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.floating-container {
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
}

.dialog-x {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid lightgray;
  transition: 0.2s;
}

.dialog-x:hover {
  scale: 125%;
}

.button-selected {
  border-width: 4px;
}

.side-container {
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  display: flex;
  gap: 20px;
  align-items: start;
}

.sidebar {
  width: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  box-sizing: border-box;
}

.sidebar-button {
  display: block;
}

.variation-choices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.variation-choice {
  display: flex;
  align-items: center;
  justify-content: sp;
  font-size: 1rem;
  padding: 10px;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.variation-choice-swatch {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.variation-choice button {
  display: block;
}

.product-view-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 650px;
  height: 650px;
  border: 4px dashed lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contained-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.design-search {
  font-size: 1rem;
  padding: 5px;
}

.design-results {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
  width: 400px;
  height: 500px;
  overflow: auto;
  padding: 10px;
}

.design-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: 0.2s;
}

.design-card:hover {
  scale: 110%;
}

.design-variations-notification {
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  padding: 5px;
  border-radius: 100px;
  background-color: #006ac6;
  border: 1px solid white;
  font-size: 0.75rem;
}

.design-card-arrow {
  background-color: #006ac6;
  color: white;
  padding: 5px 8px;
  border-radius: 100px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  cursor: pointer;
}

.design-card-arrow-left {
  left: -12px;
}

.design-card-arrow-right {
  right: -12px;
}

.design-img-container {
  width: 150px;
  height: 150px;
  position: relative;
}

.design-add-button {
  opacity: 0;
  transition: 0.2s;
  padding: 10px;
  border-radius: 100px;
  color: white;
  background-color: #006ac6;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  cursor: pointer;
  border: none;
}

.design-card:hover .design-add-button {
  opacity: 1;
}

.design-page-numbers {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.page-button {
  cursor: pointer;
}

.page-button.current {
  scale: 140%;
}

.artwork-controls-bar {
  position: absolute;
  top: 10px;
  left: 50%;
  translate: -50% 0;
}

.cart-bar-main {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-bar-button {
  display: flex;
  gap: 10px;
  padding: 10px;
  font-size: 1rem;
}

.cart-modal {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  padding: 15px;
  background-color: white;
  cursor: initial;
  max-height: 550px;
  overflow: auto;
}

.cart-x {
  border: none;
  background: none;
  scale: 150%;
  position: absolute;
  top: 7px;
  right: 4px;
  cursor: pointer;
}

.cart-item-flex {
  display: flex;
}

.cart-item-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cart-item-form label {
  display: block;
}

.cart-item-form input {
  width: 100px;
  padding: 10px;
  font-size: 1rem;
}

.cart-item-views-container {
  flex: 0 0 200px;
}

.cart-item-img-container {
  width: 100%;
  height: 200px;
  position: relative;
}

.cart-item-img {
  width: 100%;
  height: 100%;
}

.view-controls-main {
  position: absolute;
  bottom: 10px;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.view-controls-main button {
  background: none;
  border: none;
  cursor: pointer;
}
