.main-flex {
  display: flex;
  height: 600px;
  border: 1px solid lightgray;
  max-width: 1000px;
}

.variations-column {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.variations-column button {
  display: block;
}

.add-variation {
  font-weight: 800;
}

.editor-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.variation-swatch-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 150px;
}

.variation-swatch {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid lightgray;
}

.view-arrows-container {
  display: flex;
  justify-content: space-between;
}

.error {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--color-danger);
  color: white;
  padding: 5px;
}

.product-view-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 400px;
  height: 400px;
  border: 4px dashed lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-view-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
