.design-table {
  width: 100%;
  text-align: left;
}

.img-column {
  width: 100px;
}

.main-column {
  width: 500px;
}

.published,
.draft {
  border-radius: 10px;
  padding: 5px;
  font-size: 0.8rem;
  color: white;
}

.published {
  background-color: green;
}

.draft {
  background-color: orange;
}
