.main {
  border-radius: 10px;
  border: 1px solid gray;
  background-color: lightgray;
  padding: 10px;
  max-width: 500px;
  position: relative;
  overflow: hidden;
}

.main table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.main th {
  position: sticky;
  top: 0;
  background-color: lightgray;
}

.main th,
.main td {
  padding: 10px;
}

.main tbody {
  background-color: white;
}

.main tr:nth-child(even) td {
  background-color: rgb(235, 235, 235);
}

.table-scroll {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid gray;
  margin: 10px 0;
}

.table-scroll input {
  width: 100px;
}

.line-item-x {
  color: white;
  background: red;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.deleted-line-item {
  position: relative;
  color: gray;
}

.deleted-line-item::before {
  display: block;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  content: "";
}

.extra-details-flex {
  display: flex;
  justify-content: space-between;
}

.extra-details-flex h3 {
  margin: 0;
}

.totals {
  text-align: right;
}

.grand-total {
  font-size: 1.125rem;
  font-weight: bold;
}

.main input {
  display: block;
  font-size: 1.125rem;
  padding: 5px;
}

.submit-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.submit {
  font-size: 1.25rem;
  padding: 10px;
  background-color: #006ac6;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.submit:hover {
  background-color: #2c91e9;
}

.info-circle {
  display: block;
  color: #e78200;
}

.update-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
