.sliding-parent {
  height: 520px;
}

.card-container {
  width: 353px;
  height: 520px;
}

.card {
  position: absolute;
  inset: 10px;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.overlay-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.507);
  opacity: 0;
  transition: 0.2s;
}

.overlay-container:hover {
  opacity: 1;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.colors-text {
  margin-top: 15px;
}

.swatches-flex {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  flex-wrap: wrap;
}

.swatch {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  border: 1px solid white;
}

.product-link {
  color: white;
  background-color: #006ac6;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.125rem;
  margin-top: 25px;
}

.product-link:visited {
  color: white;
}

.product-link:hover {
  background-color: #2b89db;
}

.product-info-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #939393;
  text-align: center;
  color: white;
  padding: 10px;
}

.product-info-bar-main-text {
  font-weight: bold;
  font-size: 1.125rem;
}

.product-info-bar-subtext {
  font-size: 0.875rem;
  margin-top: 5px;
}

@media screen and (max-width: 480px) {
  .sliding-parent {
    height: 440px;
  }

  .card-container {
    width: 300px;
    height: 440px;
  }

  .card {
    position: absolute;
    inset: 10px;
  }
}
