.primary-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-label {
  display: block;
  font-size: 0.825rem;
  text-align: left;
}

.form-input {
  font-size: 1.25rem;
  padding: 8px;
  width: 215px;
}
