.main {
  max-width: 1200px;
  height: 700px;
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.floating-container {
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
}

.dialog-x {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid lightgray;
  transition: 0.2s;
  background-color: white;
  color: black;
}

.dialog-x:hover {
  scale: 125%;
}

.side-container {
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  display: flex;
  gap: 20px;
  align-items: start;
}

.artwork-controls-bar {
  position: absolute;
  top: 10px;
  left: 50%;
  translate: -50% 0;
}

.cart-bar-main {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-bar-button {
  display: flex;
  gap: 10px;
  padding: 10px;
  font-size: 1rem;
}

.product-view-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 650px;
  height: 650px;
  border: 4px dashed lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-controls-main {
  position: absolute;
  bottom: 10px;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.view-controls-main button {
  background: none;
  color: black;
}

.view-controls-main button:disabled {
  background: none;
  opacity: 15%;
}
