.main {
  max-width: 1200px;
  height: 700px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid gray;
  border-radius: 10px;
}

.floating-container {
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
}

.dialog {
  z-index: 2;
}

.dialog-x {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid lightgray;
  transition: 0.2s;
  background-color: white;
  color: black;
}

.dialog-x:hover {
  scale: 125%;
}

.side-container {
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  display: flex;
  gap: 20px;
  align-items: start;
}

.artwork-controls-bar {
  position: absolute;
  top: 50%;
  right: 10px;
  translate: 109% -50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.2s;
}

.artwork-controls-bar.expanded {
  translate: 0 -50%;
}

.artwork-controls-bar-toggle {
  position: absolute;
  left: 0;
  top: 50%;
  translate: -127% -50%;
  border-radius: 100px;
  color: var(--color-beta);
  padding: 5px 8px;
  border: 1px solid lightgray;
  background-color: white;
}

.artwork-controls-bar-toggle-icon {
  rotate: 180deg;
  transition: 0.2s;
}

.artwork-controls-bar.expanded .artwork-controls-bar-toggle-icon {
  rotate: 0deg;
}

.artwork-controls-bar-toggle-text {
  position: absolute;
  top: -21px;
  left: -4px;
}

.cart-bar-button {
  display: flex;
  gap: 10px;
  padding: 10px;
  font-size: 1rem;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--color-beta);
}

.product-view-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 650px;
  height: 650px;
  border: 4px dashed lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-controls-main {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.view-controls-main button {
  background: none;
  color: black;
}

.view-controls-main button:disabled {
  background: none;
  opacity: 15%;
}

.feedback-link {
  background-color: var(--color-alpha);
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  border-radius: 100px;
  padding: 8px 10px;
  transition: 0.2s;
}

.feedback-link:hover {
  translate: 0 -5px;
  scale: 110%;
}

.feedback-link svg {
  pointer-events: none;
}
