:root {
  --color-alpha: #006ac6;
  --color-beta: #4b4b4b;
}

button,
.basic-button {
  background-color: var(--color-alpha);
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
}

button:disabled,
.basic-button:disabled {
  background-color: lightgray;
  cursor: initial;
}

.button-minor {
  background-color: rgb(165, 165, 165);
}

.button-small {
  padding: 6px;
}

.button-danger {
  background-color: red;
}
