.main {
  width: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  box-sizing: border-box;
}

.main button {
  display: block;
}

.text-button-t {
  font-weight: bold;
  font-size: 30px;
  line-height: 0.8;
  font-family: "Courier New", Courier, monospace;
}
