.main-flex {
  display: flex;
  gap: 20px;
}

.main-flex h4 {
  margin: 0;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input.design-number {
  font-size: 2rem;
  width: 200px;
}

.secondary-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 700px;
  align-content: start;
}

.featured-checkbox {
  scale: 200%;
  translate: 5px 5px;
}

.scroll-box {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  overflow-y: auto;
}

.danger-box {
  margin-top: 20px;
  width: 600px;
}

.variations-container {
  border: 1px solid black;
  width: 580px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.variation-card,
.add-variation-container {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.variation-card {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  position: relative;
}

.variation-card img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
}

.add-variation-container {
  justify-content: center;
  align-items: center;
}

.add-variation-container button {
  display: block;
  width: 50px;
  height: 50px;
}

.add-variation-container button div {
  font-weight: bold;
  font-size: 2rem;
  translate: 0 -6px;
}

button.variation-x {
  background-color: var(--color-danger);
  position: absolute;
  color: white;
  padding: 2px;
  border-radius: 100px;
  width: 23px;
  text-align: center;
  right: -6px;
  top: -6px;
  cursor: pointer;
  display: block;
}

button.variation-x:hover {
  scale: 120%;
  background-color: var(--color-danger);
}
